{% extends 'admin/index.html' %}
{% load static %}

{% block content %}

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Book name</th>
      <th scope="col">Book Price</th>
      <th scope="col">Author</th>


      <th scope="col">Action</th>
    </tr>
  </thead>
  <tbody>
  {% if books %}
    {% for book in books %}
    <tr>
        <th scope="row">{{forloop.counter}}</th>
        <td>{{book.title}}</td>
        <td>{{book.price}}</td>
         <td>{{book.author}}</td>
        <td><a href="{% url 'details' book.id %}" class="btn btn-" style="background-color: #D19C97;">Details</a>
        <a href="{% url 'update' book.id %}" class="btn btn-" style="background-color: #D19C97;">Update</a>
        <a href="{% url 'delete' book.id %}"  class="btn btn-" style="background-color: #D19C97;">Delete</a>
        </td>

    </tr>
    {% endfor %}
  {% endif %}

    </tbody>
</table>


{% endblock %}